<ul id="nav-dropdown">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/plans">Plans</a></li>
    <li><a href="/auth/profile">Profile</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
<i class="fa fa-bars" aria-hidden="true" id="bar"></i>