<div class="about-us">
    <article>
        <h3 class="text-primary lead">HUGE FACILITY | AMAZING PLANS | GREAT SUPPORT</h3>
        
            <p>At IT’S ALL ABOUT YOUR FITNESS, we’re about real fitness. Our no-nonsense, results-driven culture was built on a history rooted in weightlifting culture. With our award-winning designs and culture, ITS ALL ABOUT YOUR FITNESS has effortlessly became an internationally recognized brand known for its commitment to health, strength, and fitness. Today, we continue to be one of the most celebrated fitness brands in the world.</p>
            
            <p>Our team is heavily involved in our community and closely connected with local public services, outreach programs, and other local businesses. Our culture isn’t that of these corporate gyms. We believe, aspiring for a great shape is an authentic passion, and we don’t back down from the challenge to push our bodies to levels constantly challenging our limits.</p>
            
            <p>We make sure you aren’t only signing up for just a fitness programme, you join a team of individuals who are committed to leading strong, fit, and healthy lifestyles. Our amazing plans are ready to make sure you break boundaries and achieve your full potential.</p>

            <a class="btn btn-primary" href="/plans">Check Our Plans</a>
    </article>
    <img src="/images/about.jpg" class="img-responsive" alt="about-img">
</div>
<div class="team">
    <h1 class="pb-3 text-primary">Our Team</h1>
    <div class="members">
        <figure>
            <img src="/images/a.jpg">
            <figcaption>Boxing Specialist</figcaption>
        </figure>
        <figure>
            <img src="/images/b.jpg">
            <figcaption>Judo Specialist</figcaption>
        </figure>
        <figure>
            <img src="/images/c.jpg">
            <figcaption>Weight Lifting Specialist</figcaption>
        </figure>
        <figure>
            <img src="/images/x.jpg">
            <figcaption>Muscle Gain Specialist</figcaption>
        </figure>
        <figure>
            <img src="/images/y.jpg">
            <figcaption>Weight Lose Specialist</figcaption>
        </figure>
        <figure>
            <img src="/images/z.jpg">
            <figcaption>Weight Management Specialist</figcaption>
        </figure>
    </div>
</div>