<video autoplay muted loop id="myVideo">
    <source src="/videos/one.mp4" type="video/mp4">
</video>

<div class="btn-wrapper text-center">
    <a class="btn btn-light mb-2 text-dark" href="/auth/login">LOGIN</a><br>
    <a class="btn btn-light mb-2 text-dark" href="/auth/signup">SIGNUP</a>
</div>

<h1 class="app-name display-4" id="color-change">It's All About Your Fitness</h1>