<div class="profile-info">
  <div class="card selected-plan">
        <img class="card-img-top" src="{{plan.image_url}}" alt=""></img>
        <div class="card-body">
          <h5 class="card-title">{{plan.title}}</h5>
          <p class="card-text">{{plan.body}}</p>
        </div>
        <h4 class="text-info" id="plan-title">Your Selected Plan</h4>
  </div>
  <a class="btn btn-primary" href="/auth/activity">My Activity Log</a>
    
</div>
