{{#ifCalories1 caloriesSum 2000}}
    <div>
        <h1>You are eating nowhere near enough to gain weight!</h1>
        <div>
            <p>Your average caloric intake is very low. Without proper nutrition there can be no muscle gain. Focus on your diet and try to eat at least 2500kcal a day.</p>
            <h3>Diet</h3>
            <ul>
                <li>Eat meat (or other high protein foods).
                    Shoot for about 1 gram of protein per pound of body weight, which is roughly the maximum amount your body can use in a day, according to a landmark study in the Journal of Applied Physiology.
                    For example, a 160-pound man should consume 160 grams of protein a day—the amount he’d get from an 8-ounce chicken breast, 1 cup of cottage cheese, a roast-beef sandwich, two eggs, a glass of milk, and 2 ounces of peanuts.
                    Split the rest of your daily calories equally between carbohydrates and fats.</li>
                <li>Choose nutrient-rich foods. As part of an overall healthy diet, choose whole-grain breads, pastas and cereals; fruits and vegetables; dairy products; lean protein sources; and nuts and seeds.</li>
                <li>Make every bite count. Snack on nuts, peanut butter, cheese, dried fruits and avocados. Have a bedtime snack, such as a peanut butter and jelly sandwich, or a wrap sandwich with avocado, sliced vegetables, and lean meat or cheese.</li>
            </ul>
        </div>
        <div>
            <h3>Exercise</h3>
            <ul>
                <li>Choose a weight heaviness that isn’t overly challenging but also isn’t so light that you can barely feel it. Once you've found this weight, do 7 reps then take a 3 minute break before increasing the weight to the next heaviness level. See if you can do 7 reps again.</li>
                <li>Don't overdo it! Make sure you keep good form. There's few things as disheartening as suffering an injury when things are going well.</li>
                <li>Bodyweight exercises are a good place to start. Pushups, pullups, squats and lunges are all great exercises.</li>
            </ul>
        </div>
    </div>
{{/ifCalories1}}

{{#ifCalories2 caloriesSum 2000 2500}}
    <div>
        <h1>You are not eating enough to gain weight</h1>
        <div>
            <p>Your average caloric intake is not high enough. You won't be able to gain any weight like this. Try to increase your intake by at least 500kcal.</p>
            <h3>Diet</h3>
            <ul>
                <li>Eat meat (or other high protein foods).
                    Shoot for about 1 gram of protein per pound of body weight, which is roughly the maximum amount your body can use in a day, according to a landmark study in the Journal of Applied Physiology.
                    For example, a 160-pound man should consume 160 grams of protein a day—the amount he’d get from an 8-ounce chicken breast, 1 cup of cottage cheese, a roast-beef sandwich, two eggs, a glass of milk, and 2 ounces of peanuts.
                    Split the rest of your daily calories equally between carbohydrates and fats.</li>
                <li>Try smoothies and shakes. Don't fill up on diet soda, coffee and other drinks with few calories and little nutritional value. Instead, drink smoothies or healthy shakes made with milk and fresh or frozen fruit, and sprinkle in some ground flaxseed.</li>
                <li>Eat more frequently. When you're underweight, you may feel full faster. Eat five to six smaller meals during the day rather than two or three large meals.</li>
            </ul>
        </div>
        <div>
            <h3>Exercise</h3>
            <ul>
                <li>Choose a weight heaviness that isn’t overly challenging but also isn’t so light that you can barely feel it. Once you've found this weight, do 7 reps then take a 3 minute break before increasing the weight to the next heaviness level. See if you can do 7 reps again.</li>
                <li>Train three times each week. At least 3 sessions per week should provide a sufficient volume of exercise to create a muscle-building stimulus. Experienced trainers may attempt more sessions and novices could start with 2 sessions.</li>
                <li>Don't overdo it! Make sure you keep good form. There's few things as disheartening as suffering an injury when things are going well.</li>
            </ul>
        </div>
    </div>
{{/ifCalories2}}

{{#ifCalories2 caloriesSum 2500 3000}}
    <div>
        <h1>You are eating enough but a bit more would be better</h1>
        <div>
            <p>Your average caloric intake is high enough. You might be gaining weight as is. But if you train hard and often you will want to increase your consumption.</p>
            <h3>Diet</h3>
            <ul>
                <li>Eat meat (or other high protein foods).
                    Shoot for about 1 gram of protein per pound of body weight, which is roughly the maximum amount your body can use in a day, according to a landmark study in the Journal of Applied Physiology.
                    For example, a 160-pound man should consume 160 grams of protein a day—the amount he’d get from an 8-ounce chicken breast, 1 cup of cottage cheese, a roast-beef sandwich, two eggs, a glass of milk, and 2 ounces of peanuts.
                    Split the rest of your daily calories equally between carbohydrates and fats.</li>
                <li>Avoid simple carbohydrates: Often known as bad carbohydrates, e.g. the sugar in fruit juice and honey. A nutrition plan for muscle building should always focus on the supply of complex carbohydrates.These carbohydrates are processed slowly, keeping blood sugar levels stable and supplying the body with energy long-term.</li>
                <li>Contrary to the fat-free trend, you actually need fat in your daily diet. Your body relies on fat to supply energy to muscles during activity, and how much fat a person needs can vary. As a general guideline, fat should make up 20 to 35 percent of your total calories.</li>
            </ul>
        </div>
        <div>
            <h3>Exercise</h3>
            <ul>
                <li>Lift Every Other Day. Do a full-body workout followed by a day of rest. Studies show that a challenging weight workout increases protein synthesis for up to 48 hours immediately after your exercise session.</li>
                <li>Choose a weight heaviness that isn’t overly challenging but also isn’t so light that you can barely feel it. Once you've found this weight, do 7 reps then take a 3 minute break before increasing the weight to the next heaviness level. See if you can do 7 reps again.</li>
                <li>Train three times each week. At least 3 sessions per week should provide a sufficient volume of exercise to create a muscle-building stimulus. Experienced trainers may attempt more sessions and novices could start with 2 sessions.</li>
            </ul>
        </div>
    </div>
{{/ifCalories2}}

{{#ifCalories3 caloriesSum 3000}}
    <div>
        <h1>You are eating well!</h1>
        <div>
            <p>Your average caloric intake is high, you should be gaining weight. Here is some advice to make sure you're gaining mostly muscle.</p>
            <h3>Diet</h3>
            <ul>
                <li>Eat meat (or other high protein foods).
                    Shoot for about 1 gram of protein per pound of body weight, which is roughly the maximum amount your body can use in a day, according to a landmark study in the Journal of Applied Physiology.
                    For example, a 160-pound man should consume 160 grams of protein a day—the amount he’d get from an 8-ounce chicken breast, 1 cup of cottage cheese, a roast-beef sandwich, two eggs, a glass of milk, and 2 ounces of peanuts.
                    Split the rest of your daily calories equally between carbohydrates and fats.</li>
                <li>Contrary to the fat-free trend, you actually need fat in your daily diet. Your body relies on fat to supply energy to muscles during activity, and how much fat a person needs can vary. As a general guideline, fat should make up 20 to 35 percent of your total calories.</li>
                <li>Vegetarian options include tofu, brown rice, almonds, peanuts, chickpeas, quinoa and (soy)beans.</li>
            </ul>
        </div>
        <div>
            <h3>Exercise</h3>
            <ul>
                <li>Breathe out when you’re contracting the muscle (the hard part), such as pushing a barbell or lifting a dumbbell, and breath in for the opposite direction. You may be unable to complete all your reps if you fail to properly and consistently breathe.</li>
                <li>Train three times each week. At least 3 sessions per week should provide a sufficient volume of exercise to create a muscle-building stimulus. Experienced trainers may attempt more sessions and novices could start with 2 sessions.</li>
                <li>Shoot for a minimum of seven hours of sleep a night. Getting less than that on a regular basis can cause you to rack up sleep debt, which can put the brakes on protein synthesis (aka muscle growth) and increase protein (read: muscle) degradation, according to a study by Brazilian researchers.</li>
            </ul>
        </div>
    </div>
{{/ifCalories3}}