<form action="/auth/update/{{loggedInUser._id}}" method="POST" id="update-form" enctype="multipart/form-data">
    <div class="form-group">
    <label for="username">Your Full Name</label>
    <input type="text" name="fullname"
      value={{loggedInUser.fullname}} class="form-control"><br>
    </div>

    <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email"
      value={{loggedInUser.email}} class="form-control"><br>
    </div>

    <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password"
      placeholder="********" class="form-control"><br>
    </div>

    <div class="form-group">
    <label for="image_url">Your Image (.jpg):</label>
    <input type="file" class="form-control" id="url" name="image_url">
    </div>

    <button type="submit" class="btn btn-primary" id="update">Update Profile</button>
</form>