@import url("./contact.css");
@import url("./recommendations.css");

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0
}

* {
    box-sizing: border-box;
}

#signup-form, #login-form, #update-form, #send-form{
    margin: 150px auto 0px;
    display: block;
    padding: 20px 8px 0;
    border: 2px solid white;
    border-radius: 10px;
    width: 60vw;
}

.form-control {
       width: 55vw;
       margin: 10px 5px;
   }

#create-btn, #login-btn, #update, #send-btn {
       position: relative;
       left: 30%;
       margin: 50px 0;
       width: 150px;
   }

.forgot-btn {
    position: relative;
    left: 40%;
}

.btn-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-left: -100px;
    margin-top: -100px;
}

#myVideo {
    position: fixed;
    right: 0;
    height: 100vh;
}

.app-name {
    visibility: hidden;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    padding: 20px 20px 0px;
}

article {
    font-size: 18px;
    margin-bottom: 20px;
}

.about-us img {
    max-width: 100%;
    height: auto;
}

.card {
    width: 100vw;
    height: 50vh;
    color: black !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    height: 40vh;
    width: 100vw;
}

#user-img {
    height: 50px;
    width: 50px;
    margin-top: 0px;
}

.members{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 0;
}

.profile-wrapper {
    position: absolute;
    display: flex;
    z-index: 1100;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#user-img {
    height: 55px;
    width: 55px;
}

.profile-wrapper div {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 15px;
    left: 50px;
}

.profile-wrapper a {
    width: 140px;
}

.profile-wrapper figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 350px;
    left: 85%;
    top: 0%;
    z-index: 1100;
}

.profile-info {
    position: absolute;
    top: 20%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.selected-plan {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.activity-wrapper {
    position: absolute;
    height: auto;
    margin: 200px auto 0;
}

.canvas-container {
    float: none;
    position: absolute;
    bottom: 0;
    right: 23%;
}

.profile-wrapper figure {
    display: none;
}

#color-change, .lead, #plan-title{
    animation: coloreffect 2s infinite;
}

@keyframes coloreffect {
    0% {color: red};
    25% {color: #bf55ec};
    50% {color: white};
    100% {color: #bf55ec};
}

@media only screen and (min-width: 1080px){
   .card {
       color: black !important;
       width: 30%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin: 22px;
       padding: 20px;
   }

   .navbar-nav {
       width: 100%;
       justify-content: center;
   }

   #signup-form, #login-form, #update-form, #send-form, #reset-form{
       margin: 100px auto 0;
       display: block;
       padding: 20px 8px 0;
       border: 2px solid white;
       border-radius: 10px;
       width: 30vw;
   }

   .form-control {
       width: 28vw;
       margin: 10px 5px;
   }

   #create-btn, #login-btn, #update, #send-btn, #reset-btn {
       position: relative;
       left: 30%;
       margin: 50px 0;
       width: 150px;
   }

   .forgot-btn {
       position: relative;
       left: 45%;
   }

   .form-group {
       margin-bottom: -20px;
   }

   #recommendations-btn {
        position: fixed;
        top: 1%;
        z-index: 1500;
        left: 80%;
   }

   #canvas-container {
       width: 45vw;
       max-height: 30vh;
       float: right;
       margin-right: 50px;
       margin-top: 170px;
       z-index: 300;
   }

   .plan-container {
       display: flex;
       margin: 50px 0;
       flex-wrap: wrap;
   }

   .card-img-top {
       height: 200px;
       max-width: 200px;
   }
    
    #myVideo {
        position: fixed;
        right: 0;
        width: 100vw;
    }

    .app-name {
        position: absolute;
        bottom: 2%;
        left: 30%;
        visibility: visible;
        line-height: 20px;
        z-index: 200;
    }

    #color-change, .lead, #plan-title, .caption {
        animation: coloreffect 2s infinite;
    }
    
    @keyframes coloreffect {
        0% {color: red};
        25% {color: #bf55ec};
        50% {color: white};
        100% {color: #bf55ec};
    }
  
    .about-us {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        padding: 20px 20px 0px;
    }

    .team {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly 
    }

    .members{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .members figure {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-wrapper {
        position: absolute;
        display: flex;
        z-index: 1100;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #user-img {
        height: 55px;
        width: 55px;
    }

    .profile-wrapper div {
        display: inline-block;
        position: fixed;
        top: 10px;
        width: 500px;
        left: 0;
    }

    .profile-wrapper figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 350px;
        left: 85%;
        top: 0%;
        z-index: 1100;
    }

    .profile-info {
        position: absolute;
        top: 20%;
        left: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .selected-plan {
        width: 80% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .activity-wrapper {
        position: absolute;
        height: auto;
        margin: 100px 15px 0;
    }

    .activity-form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .form-elem {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        border: 1px solid white;
        border-radius: 5px;
        margin: -10px auto 20px;
        padding: 3px;
    }

    .user-activity, .extra {
        width: 5vw !important;
    }

    .err-div {
        color: red;
        margin-top: 2vh;
        margin-left: 1%;
    }
}