@import url("./contact.css");

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0
}

* {
    box-sizing: border-box;
}

.btn-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-left: -100px;
    margin-top: -100px;
}

i {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

#nav-dropdown {
    z-index: 100;
    position: absolute;
    text-align: center;
    right: 30px;
    top: 10px;
    list-style-type: none;
    background-color: lightslategray;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    width: 20%;
    display: none;
}

#nav-dropdown li {
    padding: 8px;
}

#nav-dropdown li a {
    color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    height: 100vh;
}

.app-name {
    visibility: hidden;
}

.card {
    width: 100vw;
    height: 50vh;
    color: black !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    height: 40vh;
    width: 100vw;
}

#user-img {
    height: 50px;
    width: 50px;
    margin-top: 0px;
}

.plan-container {
    z-index: -1;
}

.members{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 1080px){
   .card {
       color: black !important;
       width: 30%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin: 22px;
       padding: 20px;
   }

   #canvas-container {
       width: 70vw;
       max-height: 30vh;
       position: absolute;
       bottom: 5%;
       z-index: 300;
   }

   .plan-container {
       display: flex;
       flex-wrap: wrap;
   }

   .card-img-top {
       height: 200px;
       width: 200px;
   }
    
    i {
        visibility: hidden;
    }

    #myVideo {
        position: fixed;
        right: 0;
        width: 100vw;
    }

    .app-name {
        position: absolute;
        bottom: 2%;
        left: 35%;
        visibility: visible;
        line-height: 50px;
        font-size: 35px;
        z-index: 200;
    }
  
    #nav-dropdown {
        display: block;
        width: 100vw;
        height: 50px;
        background-color: inherit;
        position: absolute;
        right: 0;
        left: 0;
        z-index: 1;
    }

    #nav-dropdown li {
        display: inline-block;
        padding-left: 20x;
    }

    #nav-dropdown a {
        color: green !important;
        font-size: 22px;
    }

    .about-us {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        padding: 20px;
    }

    .team {
        display: flex;
        flex-direction: column;
    }

    .members{
        display: flex;
        flex-wrap: wrap;
    }

    .members figure {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-wrapper {
        position: absolute;
        top: 15%;
        left: 89%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #user-img {
        height: 50px;
        width: 50px;
        margin-top: 30px;
    }

    .profile-wrapper figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 350px;
        left: 82%;
        top: 0%;
        z-index: 250
}

    .profile-info {
        display: flex;
        margin: 150px auto;
    }

    .activity-log {
        width: 35% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .selected-plan {
        width: 35% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .activity-wrapper {
        position: absolute;
        z-index: 100;
        margin-top: 70px;
    }

    .activity-form {
        display: flex;
        flex-direction: column;
    }

    .form-elem {
        display: flex;
    }
}