@import url("./contact.css");

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0
}

* {
    box-sizing: border-box;
}

.btn-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-left: -100px;
    margin-top: -100px;
}

i {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

#nav-dropdown {
    z-index: 100;
    position: absolute;
    text-align: center;
    right: 30px;
    top: 10px;
    list-style-type: none;
    background-color: lightslategray;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    width: 20%;
    display: none;
}

#nav-dropdown li {
    padding: 8px;
}

#nav-dropdown li a {
    color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    height: 100vh;
}

.app-name {
    visibility: hidden;
}

.card {
    width: 100vw;
    height: 50vh;
    color: black !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    height: 40vh;
    width: 100vw;
}

#user-img {
    height: 50px;
    width: 50px;
    margin-top: 0px;
}

.plan-container {
    z-index: -1;
}

.members{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 1080px){
   .card {
       color: black !important;
       width: 30%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin: 22px;
       padding: 20px;
   }

   #signup-form, #login-form, #update-form{
       margin: 100px auto 0;
       display: block;
       padding: 20px 8px 0;
       border: 2px solid white;
       border-radius: 10px;
       width: 30vw;
   }

   .form-control {
       width: 28vw;
       margin: 10px 5px;
   }

   #create-btn, #login-btn, #update {
       position: relative;
       left: 30%;
       margin: 50px 0;
   }

   .form-group {
       margin-bottom: -20px;
   }

   #recommendations-btn {
        position: absolute;
        top: 40%;
        left: 75%;
   }

   #canvas-container {
       width: 60vw;
       max-height: 10vh;
       position: absolute;
       bottom: 5%;
       z-index: 300;
       right: 23%;
   }

   .plan-container {
       display: flex;
       margin: 50px 0;
       flex-wrap: wrap;
   }

   .card-img-top {
       height: 200px;
       width: 200px;
   }
    
    i {
        visibility: hidden;
    }

    #myVideo {
        position: fixed;
        right: 0;
        width: 100vw;
    }

    .app-name {
        position: absolute;
        bottom: 2%;
        left: 30%;
        visibility: visible;
        line-height: 20px;
        z-index: 200;
    }

    #color-change, .lead, #plan-title{
        animation: coloreffect 2s infinite;
    }
    
    @keyframes coloreffect {
        0% {color: red};
        25% {color: #bf55ec};
        50% {color: white};
        100% {color: #bf55ec};
    }
  
    /* #nav-dropdown {
        display: block;
        width: 100vw;
        height: 50px;
        background-color: inherit;
        position: absolute;
        right: 0;
        left: 0;
        z-index: 1;
    }

    #nav-dropdown li {
        display: inline-block;
        padding-left: 20x;
    }

    #nav-dropdown a {
        color: green !important;
        font-size: 22px;
    } */

    .about-us {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        padding: 20px 20px 0px;
    }

    .team {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly 
    }

    .members{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .members figure {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-wrapper {
        position: absolute;
        display: flex;
        z-index: 1100;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #user-img {
        height: 55px;
        width: 55px;
    }

    .profile-wrapper div {
        display: inline-block;
        position: fixed;
        top: 10px;
        width: 400px;
        left: 0;
    }

    .profile-wrapper figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 350px;
        left: 85%;
        top: 0%;
        z-index: 1100;
    }

    .profile-info {
        position: absolute;
        top: 20%;
        left: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .selected-plan {
        width: 80% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .activity-wrapper {
        position: absolute;
        height: auto;
        margin-top: 70px;
        /* visibility: hidden; */
    }

    .activity-form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .form-elem {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        border: 1px solid white;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 3px;
    }

    .user-activity, .extra {
        width: 5vw !important;
    }
}